site_name: weilycoder's Notes
site_url: ${SITE_URL}

theme:
  name: material
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - header.autohide
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true

plugins:
  - search:
      lang: 
        - en
        - zh

nav:
  - Home: index.md
  - Math:
    - F(a, S) = 0 类数列通项: math/F_a_S_0_seq.md
    - 圆锥曲线及二级结论: math/conic_sections_secondary_results.md
    - 均值不等式证明（AM-GM）: math/AM_GM_proof.md
    - 等差数列的 k 阶前缀和: math/AP_k_prefix_sum.md
    - 牛顿恒等式: math/newton_identity.md
    - Sin x 的无穷乘积表达: math/sin_x_infinite_product.md
    - 欧拉第二积分: math/gamma-function.md
    - 巴塞尔问题和 zeta(2k): math/zeta_2k.md
    - Attention is all you need (Inequality Proof): math/Attention_is_all_you_need_inequality.md
  - OI:
    - 杂题选做: oi/misc_exercises.md
    - 最短路算法: oi/shortest_path_algorithms.md
